---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<PageLayout title="About Us">
  <Container>
    <div class="font-semibold text-black dark:text-white">About</div>
    <article>
      <p>
        Run by <Link href="safwan.bearblog.dev">Safwan</Link> and a couple other
        people. We haven't yet formulated a good <em>About</em> page because we don't
        know which story to tell.
      </p>
      <p>
        We're an incredibly tiny organization, and we haven't had much impact
        yet. But we hope we will end up touching the lives of many.
      </p>
    </article>
  </Container>
</PageLayout>
