---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  nav?: boolean;
};

const { href, external, underline = true, nav = false, ...rest } = Astro.props;
const active =
  nav && href === "/"
    ? Astro.url.pathname === "/"
    : Astro.url.pathname.startsWith(href);
---

<a
  href={!active ? href : "#"}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out",
    !nav &&
      "text-blue-600 dark:text-blue-400 decoration-blue-600/30 dark:decoration-blue-400/30 hover:text-blue-700 hover:dark:text-blue-300 hover:decoration-blue-700/50 hover:dark:decoration-blue-300/50",
    underline && !active && "underline underline-offset-2",
    active && "decoration-black/25 text-black dark:text-white"
  )}
  {...rest}
>
  <slot />
</a>
