---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Get help">
  <div class="flex flex-col md:flex-row px-8 md:px-16 gap-8 h-full">
    <div class="w-96">
      <div class="font-semibold text-black dark:text-white">Get in touch</div>
      <article>
        <p>
          You can talk about your issues in this public forum - there are only
          friendly faces here!
        </p>
        <small
          >If you can't see a Discord embed on your screen, reload this page.</small
        >
      </article>
    </div>
    <div class="h-full flex-1">
      <widgetbot
        server="1391618528901075075"
        channel="1424279531283419218"
        width="100%"
        height="100%"></widgetbot>
    </div>
  </div>
</PageLayout>
